<section>
  <div class="jumbotron jumbotron-fluid bg-img" style="background-image: url(/img/running.jpg);background-position: 50% 80%;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center text-white montserrat pt-3 pb-3 my-6">
          <h1 class="txt-50 txt-md-70  font-weight-bold">Workouts for every fitness level</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-12 py-6 mb-5">
        <h1 class="mb-4  text-center">About <b>Move and Groove</b></h1>
        <p class="text-left">Here's the story of a lovely lady, who was bringing up three very lovely girls. All of them had hair of gold, like their mother, the youngest one in curls. Here's the store, of a man named Brady, who was busy with three boys of his own. They were four men, living all together, yet they were all alone. '</p>
        <p>In an age when nature and magic rule the world, there is an extraordinary legend: the story of a warrior who communicates with animals, who fights sorcery and the unnatural. His name is Dar, last of his tribe. He is also called Beastmaster.</p>
       <div class="text-center">
         <%= link_to 'Join the Groove!', new_user_registration_path, class: "mt-3 btn btn-primary btn-lg px-7 font-weight-bold" %>
       </div>
      </div>
    </div>
  </div>
</section>