<section>
  <div class="jumbotron jumbotron-fluid bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-left text-white montserrat py-1">
          <h1 class="display-4 font-weight-bold">StopWatch</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container pb-8 mb-8">
    <div class="row">
      <div class="col-12 pt-4 text-center">
       <div id="chronoExample">
        <div class="values txt-50 txt-md-50 pb-5">00:00:00:00</div>
        <div>
        <button class="startButton btn btn-success">Start</button>
          <button class="pauseButton btn btn-primary" >Pause</button>
          <button class="stopButton btn btn-danger">Stop</button>
        </div>
      </div>
    </div>
  </div>
</section>