<footer>
    <div class="container-fluid bg-gray1" >
      <div class="row">
        <div class="col-12 text-center">
          <p class="font-weight-bold txt-20 py-2 mb-0">Move and Grove</p>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-gray2">
      <div class="row">
        <div class="col-12 text-center">
          <ul class="list-inline text-primary pt-4">
            <li class="list-inline-item"><%= link_to 'About Us', about_path %></li>|
            <li class="list-inline-item">Contact Us</li>|
            <li class="list-inline-item"><%= link_to 'Sign In', new_user_session_path %></li>|
            <li class="list-inline-item"><%= link_to 'Sign Up', new_user_registration_path %></li>|
            <li class="list-inline-item">Privacy Policy</li>
          </ul>
          <p class="small">Copyright 2018</p>
        </div>
      </div>
    </div>
  </footer>